# Environment variables - Hides your API keys!
backend/.env

# Python virtual environment
venv/
/venv/
.venv/
/.venv/

# Python cache files
__pycache__/
*.pyc

# IDE configuration files (for PyCharm)
.idea/



# Operating System files
.DS_Store
Thumbs.db
